.glass{

background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
border:1px solid rgba(255,255,255,0.1);
border-radius:15px;
padding:30px;

}

.glass-nav{

position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(10px);

}